<% layout('adminbp') -%>

<section style="margin-top:5em">
  <div class="container">
    
    <div class="text-center">
      <h1>edit</h1>
    </div>
    <form action="/admin/products/<%= product._id%>/edit?_method=put" method="POST">
    <div class="mb-3">
            <label for="name" class="form-label"> name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>">
          </div>
        <div class="mb-3">
            <label for="image" class="form-label"> image url</label>
            <input type="text" class="form-control" id="image" name="image" value="<%= product.image %>">
          </div>
        <div class="mb-3">
            <label for="price" class="form-label"> price</label>
            <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label"> description</label>
            <textarea class="form-control" id="description" rows="3" name="description" ><%= product.description %></textarea>
          </div>
            <button type="submit" class="btn btn-success mb-3" style="width: 100%;" >save edit</button>
          </form>
          <a href="/admin" class="btn btn-danger mb-3" style="width: 100%">cancel</a>
    </div>
</section>